[submodule "extension/godot-cpp"]
	path = extension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.5
[submodule "extension/angelscript"]
	path = extension/angelscript
	url = https://github.com/anjo76/angelscript
